{% extends 'base.html.twig' %}

{% block title %}Ereko{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
<div class="example-wrapper">
    <form action="/create" method="post">
        <img src="/assets/img/ereko_logo.svg" alt="logo ereko">
        <h1>Create you party playlist!</h1>
        <label for="party_date"><h2>When will your party take place?</h2></label>
        <input type="date" name="party_date" id="party_date">
        <!--input type="submit" value="Create!"-->
        <button type="submit">Create!</button>
    </form>
</div>

{% if no_date is defined %}
    <div class="no-date">
        <p>{{no_date}}</p>
    </div>
{% endif %}

{% endblock %}
