/* display elements */
.player_desktop_img,
.search
{
    display: flex;
}
.horizontal_separator,
.vertical_separator
{
    display: block;
}
.search_btn,
.search_back 
{
    display: none;
}

.wrapper {
    width: 50%;
    min-width: 750px;
    max-width: none;
    flex-direction: row;
}

.playlist {
    height: 100%;
    width: 50%;
}

.desk_left {
    position: relative;
    height: 100%;
    width: calc(50% - 1px);
    overflow-y: hidden;
}
.audio_player_full {
    position: relative;
    height: 50%;
    padding: 15px;
}
.search {
    height: 50%;
}
