/* see https://geon.github.io/programming/2016/02/24/flexbox-full-page-web-app-layout*/

.search_btn {
    width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 50%;
    background-color: #28208C;
    opacity: 50%;

    position: absolute;
    right: 35px;
    bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn:hover {
    opacity: 100%;
}

.icon-tabler-search {
    stroke: white;
}

.track {
    color: white;
    padding: 0 10px;
}

