/* see https://geon.github.io/programming/2016/02/24/flexbox-full-page-web-app-layout*/

.search_btn {
    width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 50%;
    background-color: #28208C;
    box-shadow: 0 0 4px 4px  hsl(244, 63%, 65%);
    opacity: 50%;

    position: absolute;
    right: 35px;
    bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn:hover {
    background-color: hsl(244, 63%, 65%);
    box-shadow: none;
    opacity: 100%;
}

.icon-tabler-search {
    stroke: white;
}

.track {
    width: 100%;
    color: white;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing {
    color: hsl(244, 63%, 80%);
    border-bottom: 3px solid hsl(244, 63%, 80%);
}

.container_logo {
    width: 40px;
    height: 40px;
}

.track_state_svg {
    width: 40px;
    height: 40px;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.rotate {
    animation: 5s linear infinite rotation;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}