{% extends 'base.html.twig' %}

{% block title %}Hello PlaylistController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/playlist.css">
{% endblock %}



{% block main %}

<div class="example_wrapper">
    <div class="playlist_container">
        <!-- wrap the playlist in a container to allow it to scroll -->
        <div class="playlist">
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger 1
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you back
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you back
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you back
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you back
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - I want you
                <hr>
            </div>
            <div class="track">
                <b>Jackson 5</b> - Eye of the tiger last
                <hr>
            </div>
        </div>
    </div>

    <div class="player">
        <audio controls src="">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
        <audio class="hidden" controls src="">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>

    <div class="search_btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
    </div>

</div>

{% endblock %}