{% extends 'base.html.twig' %}

{% block title %}Hello MediaQuery!
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/playlist.css">
<link rel="stylesheet" href="/assets/css/player.css">
<link rel="stylesheet" href="/assets/css/search.css">
<link rel="stylesheet" href="/assets/css/interface_common.css" />

<!--link rel="stylesheet" media="(max-width: 1200px)" href="/assets/css/smartphone.css" /-->
<link rel="stylesheet" media="(min-width: 750px)" href="/assets/css/desktop.css" />
{% endblock %}


{% block main %}

<div class="wrapper">
    <div class="scroll_container playlist" id="playlist">
        <!-- wrap the playlist in a container to allow it to scroll -->
        <div class="scroll" id="scroll">
        </div>
    </div>

    <div class="search_btn" id="search_btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
    </div>

    <div class="vertical_separator"></div>

    <div class="desk_left" id="desktop_left">
        <div class="audio_player_full">
            <!-- This is for thumbnail-->
            <div class="player_desktop_img">
                <div class="player_desktop_img_container">
                    <img src="" alt="" id="thumbnail">

                </div>
            </div>
            <div class="audio-player" style="margin: 0 auto">

                <!-- see https://codeconvey.com/customize-html5-audio-player-css/ -->
                <div class="timeline">
                    <div class="progress"></div>
                </div>
                <div class="controls">
                    <div class="play-container">
                        <div class="toggle-play play"></div>
                    </div>
                    <div class="time">
                        <div class="current">0:00</div>
                        <div class="divider">/</div>
                        <div class="length"></div>
                    </div>
                    <div class="name" id="songName"></div>
                    <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
                    <div class="volume-container">
                        <div class="volume-button">
                            <div class="volume icono-volumeMedium"></div>
                        </div>

                        <div class="volume-slider">
                            <div class="volume-percentage"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr class="horizontal_separator">

        <div class="search" id="search">
            <div class="search_bar_container">
                <div class="search_back" id="search_back">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                      </svg>
                </div>
                <div class="search_bar">
                    <input type="text" name="search" id="search_input" placeholder="Search">
                </div>
            </div>


            <div class="scroll_container results_list">
                <div id="request_error">
                </div>
                <!-- wrap the playlist in a container to allow it to scroll -->
                <div class="scroll" id="result_list">
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/assets/js/Playlist.js"></script>
<script src="/assets/js/Track.js"></script>
<script src="/assets/js/fetchTrack.js"></script>
<script src="/assets/js/fetchMusic.js"></script>
<script src="/assets/js/audio.js"></script>
<script src="/assets/js/player.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/ytSearch.js"></script>

{% endblock %}
